<!--      <a type="reset" class="btn btn-sm btn-danger" [routerLink]="['/debtcollectors/allcases']" ><i class="fa fa-ban"></i> Back</a>-->

<!--<div class="row">-->
<!--  <div class="col-md-10">-->
<!--  <div class="form-group ">-->
<!--    <label for="typeahead-http">Search for a wiki page:</label>-->
<!--    <input id="typeahead-http" type="text" class="form-control col-md-8" [class.is-invalid]="searchFailed"-->
<!--            [(ngModel)]="model" [ngbTypeahead]="search" [resultFormatter]="resultFormatBandListValue" [inputFormatter]="inputFormatBandListValue" placeholder="Search Here" />-->
<!--    <small *ngIf="searching" class="form-text text-muted">searching...</small>-->
<!--    <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>-->
<!--  </div>-->
<!--  </div>-->
<!--</div>-->
<!--<hr>-->
<!--<pre>Model: {{ model | json }}</pre>-->


<div>
  <div class="card">
    <div class="card-header">
      <strong>New Debt Collector activity </strong> capture
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmitted($event)"   autocomplete="off" novalidate>
      <div #subdata ="ngModelGroup" class="card-body" ngModelGroup="subdata">
        <div class="row">
          <div class="col-xl-2 col-md-3">
            Search Customer Number
          </div>
          <div class="col-md-9">
            <div class="col-md-12">
              <label for="typeahead-http"></label>
              <input [(ngModel)]="rows" [class.is-invalid]="searchFailed" [inputFormatter]="inputFormatBandListValue" [ngbTypeahead]="search" [resultFormatter]="resultFormatBandListValue" class="form-control" id="typeahead-http"
                                                          name="Search"  placeholder="Search" type="text" value="search" />
<!--              <small *ngIf="searching" class="form-text text-muted">searching...</small>-->
              <img *ngIf="searching" alt="Loading Icon" src="assets/img/user/loading.gif">
              <div *ngIf="searchFailed" class="invalid-feedback">Sorry, suggestions could not be loaded.</div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Customer Number
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input  #customernumber="ngModel"  [(ngModel)]="rows"  [inputFormatter]="inputFormatBandListValue2" [ngbTypeahead]="search" class="form-control" id="custnumber" name="custnumber" required="" type="text">
            </div>
            <p *ngIf="!customernumber.valid && customernumber.touched" class="text-warning"> Please Enter Something</p>
          </div>
          <div class="col-md-3">
            Account Number
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [(ngModel)]="rows" [inputFormatter]="inputFormatBandListValue4" [ngbTypeahead]  class="form-control" id="accountnumber" name="accountnumber" type="text">
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Customer Name
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [(ngModel)]="rows" [inputFormatter]="inputFormatBandListValue3" [ngbTypeahead] class="form-control" id="customername"  name="customername" type="text">
            </div>
          </div>
          <div class="col-md-3">
            Account Balance
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input class="form-control" id="accountbalance" name="accountbalance" ngModel type="text">
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Loan Settlement Account
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input  [(ngModel)]="rows" [inputFormatter]="inputFormatBandListValue5" [ngbTypeahead] class="form-control" id="loansettlementacc" name="loansettlementacc" type="text">
            </div>
          </div>
          <div class="col-md-3">
            File Number
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [(ngModel)]="rows" [inputFormatter]="inputFormatBandListValue6" [ngbTypeahead] class="form-control" id="filenumber" name="filenumber" type="text">
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Cancel Comment
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input class="form-control" id="cancelcomment" name="cancelcomment" ngModel type="text" >
            </div>
          </div>
          <div class="col-md-3">
            Region
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [(ngModel)]="rows" [inputFormatter]="inputFormatBandListValue7" [ngbTypeahead]="null" class="form-control" id="region" name="region" type="text" >
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Stage Date
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="input-group">
                <input bsDatepicker class="form-control" name="stagedate" placeholder="Dateinput"
                        type="text"  >
                <div class="input-group-append">
                  <button class="btn btn-outline-primary"  type="button"><span><i
                    class="fa fa-calendar"></i>
                    </span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            Date Input
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="input-group">
                <input #dp="bsDatepicker" bsDatepicker class="form-control" name="dateinput" ngModel
                       placeholder="Dateinput" type="text"  >
                <div class="input-group-append">
                  <button class="btn btn-outline-primary"  type="button"><span><i
                    class="fa fa-calendar"></i>
                    </span></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Owner
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [(ngModel)]="rows" [inputFormatter]="inputFormatBandListValue10" [ngbTypeahead]="search" class="form-control" id="owner" name="region" name="owner" type="text" >
            </div>
          </div>
          <div class="col-md-3">
            Town
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <ng-select id="town"  name="region" ngModel >
                <ng-option >Nairobi
                </ng-option>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 20px">
          <div class="col-xl-2 col-md-3">
            Address
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input [(ngModel)]="rows" [inputFormatter]="inputFormatBandListValue8" [ngbTypeahead] class="form-control" id="address" name="address" type="text" >
            </div>
          </div>
          <div class="col-md-3">
            NewStatus
          </div>
          <div class="col-md-3">
            <div class="col-md-12">
              <input class="form-control" id="newstatus" name="newstatus" ngModel type="text" >
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="!f.valid" class="btn btn-sm btn-primary"  type="submit"><i
          class="fa fa-dot-circle-o"></i> Submit</button>
        <a [routerLink]="['/debtcollectors/allcases']" class="btn btn-sm btn-danger" type="reset" ><i class="fa fa-ban"></i> Reset</a>
       <div *ngIf="submitted"><p>Customer Number:</p>
        <p>Account Number: {{accountnumber}}</p>
         <p>Customer Number: {{custnumber}}</p>
        <p>Customer Name: {{customername}}</p>
        <p>Loan Settlement Account: {{loansettlementacc}}</p>
        <p>Region: {{region}}</p>
       </div>
      </div>
    </form>
    <!--<pre>{{actionForm.valid | json}}</pre>
    <pre>{{actionForm.value | json}}</pre>-->
  </div>
</div>

