<div class="content-heading">
  <div>E-Credit
    <small>view all E-Credit</small></div>
</div>
<ag-grid-angular
  #agGrid
  (gridReady)="onGridReady($event)"
  (rowClicked)='onRowDoubleClicked($event)'
  [animateRows]="true"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [enableRangeSelection]="true"
  [floatingFilter]="true"
  [maxBlocksInCache]="maxBlocksInCache"
  [modules]="modules"
  [paginationAutoPageSize]="true"
  [pagination]="true"
  [pivotPanelShow]="pivotPanelShow"
  [rowData]="rowData"
  [rowDragManaged]="true"
  [rowModelType]="rowModelType"
  [sideBar]="true"
  class="ag-theme-balham"
  id="myGrid"
  style="width: 100%; height: 550px;"
></ag-grid-angular>
